.mainDivSimpleFooter1 {
  display: flex;
  justify-content: center;
}

.rowSimpleFooter1 {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.rowLabelSimpleFooter1 {
  font-size: 1rem;
}

.itemSimpleFooter1 {
  cursor: pointer;
}

.parentDivRowsSimpleFooter1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
