.mainDivSimpleVerticalDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buttonSimpleVerticalDropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  gap: 1rem;

  cursor: pointer;
}

.droppedDivSimpleVerticalDropdown {
  position: absolute;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.buttonOptionSimpleVerticalDropdown {
  width: 100%;
  border: none;

  cursor: pointer;
}

.buttonOptionBorderSimpleVerticalDropdown {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.droppedArrowsSimpleVerticalDropdown {
  font-weight: 900;

  margin: 0;
}

.labelSimpleVerticalDropdown {
  margin: 0;
  padding: 0;
}

.parentDivOptionsSimpleVerticalDropdown {
  overflow: hidden;
}
