.mainDivSimpleCard1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labelSimpleCard1 {
  font-size: 1.5rem;
  font-weight: 500;

  margin: 0;
  padding: 0;
}

.textSimpleCard1 {
  margin: 0;
  padding: 0;
}
