.mainDivSimpleCheckbox1 {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.leftDivSimpleCheckbox1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightDivSimpleCheckbox1 {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.labelSimpleCheckbox1 {
  margin: 0;
  padding: 0;
}

.textSimpleCheckbox1 {
  margin: 0;
  padding: 0;
}

.inputSimpleCheckbox1 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  -webkit-appearance: initial;
  appearance: initial;
  border-radius: 0.2rem;

  margin: 0;
  padding: 0;

  cursor: pointer;
}

.inputSimpleCheckbox1:checked::after {
  content: var(--checked-symbol);
}
