.mainDivNavBarWithComponents1 {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  width: 100vw;
  height: 5vh;

  backdrop-filter: blur(5px);

  background-color: rgba(193, 193, 193, 0.388);
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemNavBarWithComponents1 {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
