.mainDivNavBarWithComponents1 {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;
  display: flex;
  align-items: center;
}

.itemNavBarWithComponents1 {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
