.mainDivSimpleBigTextInputWithRequired {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.labelLabelSimpleBigTextInputWithRequired {
  font-size: 1.2rem;
  font-weight: 500;
}

.textareaSimpleBigTextInputWithRequired::placeholder {
  color: var(--placeholder-color);
}

.textareaSimpleBigTextInputWithRequired:focus {
  outline: var(--focus-border);
}
