.mainDivSimpleBigTextInputWithRequired {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.textareaSimpleBigTextInputWithRequired::placeholder {
  color: var(--placeholder-color);
}

.textareaSimpleBigTextInputWithRequired:focus {
  outline: var(--focus-border);
}
